/* stylelint-disable no-duplicate-selectors */
.phone__input__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.profile__region__dropdown {
  width: 100%;
}

.account_form {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(max(210px, 48%), 1fr));
}

.editable {
  display: flex;
  flex-direction: column;
}

.editable_text {
  margin-bottom: 6px;
}

.editable_input > div:last-child {
  padding: 12px 25px !important;
}

.address__span {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgb(47 47 47 / 20%);
  background-color: #fff;
  font-size: 15px;
  line-height: 21px;
}

.form_row_grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.region__box__input {
  display: flex;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid rgb(47 47 47 / 20%);
  border-radius: 15px;
}

// !EXTRA
.extra_extraDropListClass {
  left: 0 !important;
  transform: none !important;

  & > li:hover {
    background-color: transparent !important;
  }
}

.extra__phone__class {
  & > label {
    border: 1px solid rgb(47 47 47 / 20%);
    background-color: #fff !important;

    & > div {
      padding: 12px 15px;
      border-radius: 8px;
      border-top: 0 solid rgb(47 47 47 / 20%);
      border-right: 1px solid rgb(47 47 47 / 20%);
      border-bottom: 0 solid rgb(47 47 47 / 20%);
      border-left: 0 solid rgb(47 47 47 / 20%);
      background-color: #fff;
    }

    & > input {
      min-height: 45px;
      border: none !important;
      line-height: 21px !important;
    }
  }
}

.buttons__logouts__box {
  display: flex;
  margin-top: 25px;
  margin-bottom: 35px;
  gap: 30px;
}

.input__title {
  color: #818181;
  font-size: 14px;
}

.create__box {
  display: flex;
  width: 330px;
  flex-direction: column;
  margin-top: 8px;
}

.extra__input {
  & > div:nth-child(2) {
    padding: 8px 12px;
    border-radius: 10px;
    background-color: transparent !important;
  }
}

.region__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 4px;
}

.region__box__input {
  display: flex;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid rgb(47 47 47 / 20%);
  border-radius: 15px;
  background-color: #fff;
}

.modal__text {
  margin-bottom: 10px;
  color: #2a2e46;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.modal__text__mini {
  margin-bottom: 25px;
  color: #2a2e46;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.extra__input__inn {
  background-color: transparent !important;
  line-height: 20px;
}

.extra__input__inn > div:last-child > input {
  line-height: 22px !important;
}

.region__box {
  position: relative;
  z-index: 214748333;
}

.region__box__second {
  position: relative;
  z-index: 555555 !important;
}

.extra_none_transform {
  transform: none !important;
}

.profile__region__dropdown__extra {
  z-index: 999999999;

  & {
    min-height: 48px !important;
    padding: 8.75px 12px !important;
    border: 1px solid rgb(47 47 47 / 20%);
    border-radius: 10px !important;
    background-color: transparent !important;
  }

  & > div > span {
    background-color: #0047ba !important;
  }
}

@media (max-width: 900px) {
  .create__box {
    width: 100%;
    max-width: 500px;
  }
}
