.header__box {
  position: relative;
  padding: 10px 5px 20px;
  background-color: #0047ba;
  box-shadow: 0 4px 5px #00000059;
}

.container__inner {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo__box {
  display: flex;
  align-items: center;
}

.extra__mobile__list {
  & > ul {
    display: flex;
    min-width: 200px;
    flex-direction: column;
    gap: 10px;

    & > li > div > a {
      width: 100%;
      margin: 0 auto !important;
      color: #000 !important;
      text-align: center;
    }

    & > li > div {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.header__top_item {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 5px;
  transition: all 0.15s;

  &:hover {
    color: #ac2525;
  }
}

.header__top_image_insta {
  width: 20px;
  height: 20px;
}

.header__top_image_telegram {
  position: relative;
  z-index: 1000;
  width: 21px;
  height: 18px;

  // &::before {
  //   position: absolute;
  //   content: "";
  //   background-image: url('/telegram.svg');
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   width: 28px;
  //   height: 20px;
  //   left: 0;
  //   top: 0;
  //   z-index: 1000;
  // }
}

.header__top_image_telephone {
  width: 19px;
  height: 19px;
}

.extra__header__language_box {
  & > ul > li > p {
    color: #000 !important;
  }

  &_2 {
    & > div > span {
      color: #fff !important;
    }
  }
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  gap: 60px;
}

.header__list__mini {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  color: #2a2e46 !important;
}

.header__list__item {
  transition: all 0.2s;

  // &:hover {
  //    color: #AC2525;
  // }
}

.burger__menu {
  display: none;
  margin-left: auto;
}

.burger {
  display: flex;
  width: 19px;
  flex-direction: column;
  margin-right: 10px;
  cursor: pointer;
  gap: 5px;
}

.burger__item {
  width: 100%;
  height: 2.5px;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .header__list__big {
    display: none;
  }

  .burger__menu {
    display: block;
  }
}

.burger__menu__list {
  position: fixed;
  top: 0;
  left: -160vw;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border: 1px solid #2a2e46;
  background-color: #eff1f8;
  gap: 20px;
  transition: all 0.3s;
}

.burger__menu__list__active {
  z-index: 1000000;
  left: 0 !important;
}

.burger__menu__item__first {
  width: 100%;
}
