/* stylelint-disable no-duplicate-selectors */
// Accordion.module.scss
.accordion {
  display: flex;
  flex-direction: column;
  color: #2f2f2f;
  gap: 15px;

  @media (max-width: 768px) {
    gap: 10px;
  }
}

.accordion__chevron {
  transition: all 0.3s;

  & > svg {
    transition: all 0.3s;
  }
}

.accordion__item {
  padding: 11px 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    padding: 10px 13px;
  }

  &_open {
    .accordion__chevron {
      & > svg {
        transform: rotate(-180deg);
        transition: all 0.3s;
      }
    }

    .accordion__content {
      max-height: 1000px;
      padding-top: 23px;
      padding-bottom: 10px;
      opacity: 1;
      visibility: visible;

      @media (max-width: 768px) {
        padding-top: 10px;
      }
    }
  }
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 20px;
  transition: background 0.3s ease-in-out;

  &:hover {
    .accordion__chevron {
      filter: brightness(0.9);
    }
  }
}

.accordion__title {
  flex: 1;
  margin: 0;
  font-size: 20px;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.accordion__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accordion__delete_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.7 !important;
  }

  @media (max-width: 768px) {
    padding: 3px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.accordion__header:hover .accordion__delete_button {
  opacity: 0.7;
}

.accordion__chevron {
  display: inline-flex;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(#0047ba, #1869ef);
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;

  svg {
    width: 18px;
    height: 18px;
    transition: transform 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  line-height: 140%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;

  p {
    margin: 0;
    color: rgb(47 47 47 / 80%);
    font-size: 15px;
    font-weight: 400;

    @media (max-width: 768px) {
      color: rgb(47 47 47 / 70%);
      font-size: 14px;
    }
  }
}
