@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 1 999;
	src: url('./Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 1 999;
	src: url('./Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf')
		format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Jaro';
	font-style: normal;
	font-weight: 1 999;
	src: url('./Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf')
		format('truetype');
}
