@import '@/scss/config/mixins';

/* ------------------------------------------------------------------------------------------------------------------------------
COMPONENTS (НЕКОТОРЫЕ БАЗОВЫЕ СТИЛИ КОМПОНЕНТОВ) 
-------------------------------------------------------------------------------------------------------------------------------- */

.section,
.section_null,
.section_topnull {
  padding-block: rem(35);

  @include sm {
    padding-block: rem(30);
  }

  // простой заголовок
  &-header {
    margin-bottom: rem(45);

    @include sm {
      margin-bottom: rem(25);
    }

    &__title {
      font-size: rem(30);
      font-weight: 500;

      @include sm {
        font-size: rem(24);
      }
    }
  }

  // заголовок для флекс
  &-flexheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 26px;

    &__title {
      color: var(--text);
      font-size: rem(30);
      font-weight: 500;

      @include md {
        font-size: rem(24);
      }
    }
  }
}

.section-null {
  padding-block: 0;

  @include sm {
    padding-block: 0;
  }
}

.section-topnull {
  padding-block-start: 0;

  @include sm {
    padding-block-start: 0;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------
ABOUT BLOCK
-------------------------------------------------------------------------------------------------------------------------------- */

nav.bread_crumbs_container {
  margin-top: 4px;
  margin-right: 0;
  margin-left: 0;
}

.about__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 30px;

  @include sm {
    gap: 12px;
  }
}

.about__title {
  margin-top: -3px;
  margin-bottom: 40px;
  color: #2f2f2f;
  font-size: 46px;
  font-weight: 500;

  @include sm {
    margin-top: -8px;
    margin-bottom: 25px;
    font-size: 24px;
  }
}

.about_block {
  display: flex;
  width: 100%;
  max-width: 776px;
  padding: 40px 25px;
  border: 1px solid rgb(47 47 47 / 20%);
  border-radius: 10px;
  color: #2f2f2f;
  gap: 30px;

  &:nth-child(even) {
    align-self: flex-end;
  }

  @include sm {
    flex-direction: column;
    padding: 10px 15px 20px;
    gap: 10px;
  }

  &__number {
    flex-shrink: 0;
    background: linear-gradient(180deg, rgb(0 71 186 / 10%) 0%, #0047ba 100%);
    background-clip: text;
    font-size: 150px;
    font-weight: 600;
    line-height: 80%;
    -webkit-text-fill-color: transparent;

    span {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    @include sm {
      margin-bottom: -10px;
      font-size: 70px;
      line-height: 100%;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.17;

    @include sm {
      margin-bottom: 3px;
      font-size: 20px;
    }
  }

  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 137%;

    p {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }

    @include sm {
      font-size: 14px;
    }
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------
ABOUT EXPORTERU SECTION
-------------------------------------------------------------------------------------------------------------------------------- */
.about_exporteru {
  color: var(--text);

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6f6f6;
    padding-block: 64px 62px;
    padding-inline: 85px;
    border-radius:10px;

    @include md {
      padding: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 647px;
    height: 100%;
    user-select: none;

    @include md {
      position: relative;
      aspect-ratio: 320/213;
    }

    img {
      position: absolute;
      display: block;
      block-size: 100%;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
      object-fit: cover;
      border-radius:10px;
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -2px;
      width: 80%;
      background: linear-gradient(270deg, #f6f6f6 0%, rgb(246 246 246 / 0%) 100%);
      content: '';
      transform: rotate(-180deg);

      @include md {
        top: -2px;
        left: 0;
        width: 100%;
        height: 45%;
        background: linear-gradient(360deg, #f6f6f6 0%, rgb(246 246 246 / 0%) 100%);
        transform: rotate(-180deg);
      }
    }
  }

  &__wrap {
    position: relative;
    z-index: 1;

    @include md {
      padding: 30px 20px;
    }

    @include sm {
      padding: 30px 20px 35px;
    }
  }

  &__title {
    max-width: 75%;
    margin-bottom: 29px;
    color: #2f2f2f;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.17;

    @include md {
      font-size: rem(24);
    }

    @include sm {
      margin-bottom: 20px;
    }
  }
}

/* --------------------------------------------------------------- ACCENT BUTTON -------------------------------------------------------------------- */

.btn_accent {
  display: inline-flex;
  min-height: 46px;
  align-items: center;
  background: linear-gradient(#0047ba, #1869ef);
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2233;
  padding-inline: rem(46);
  transition: var(--transition);
  border-radius:10px;

  &__max493 {
    display: flex;
    width: 100%;
    max-width: 493px;
    min-height: 53px;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    margin-inline: auto;

    @include md {
      width: 100%;
      min-width: initial;
    }
  }

  &:hover {
    filter: var(--filter);
  }

  @include sm {
    display: flex;
    min-height: rem(45);
    justify-content: center;
    font-size: rem(14);
  }
}
