.descr__box {
  display: flex;
  width: 100%;
  max-height: fit-content;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 15px;
}

.descr__title {
  color: rgb(47 47 47 / 70%); // 2F2F2F 70%
  font-weight: 700;
}

.descr__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.element__value__right {
  text-align: right !important;
}

.descr__list__item {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: rgb(47 47 47 / 70%); // 2F2F2F 70%
}

.item__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 8px;

  & > p {
    display: inline;
    max-width: 55%;
    align-self: end;
    padding: 0 4px;
    background-color: #fff;
    line-height: 1.4;
    text-align: start;

    &:last-child {
      max-width: 43% !important;
    }
  }
}

.element__title {
  flex-shrink: 0;
  padding-right: 4px !important;
  padding-left: 0 !important;
  color: rgb(47 47 47 / 70%);
}

.dotted__line {
  width: 100%;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 4px;
  background-image: repeating-linear-gradient(
    to right,
    rgb(47 47 47 / 20%) 0,
    rgb(47 47 47 / 20%) 4px,
    transparent 4px,
    transparent 8px
  );
}

.element__value {
  max-width: 45%;
  flex-shrink: 0;
  padding-right: 0 !important;
  padding-left: 4px !important;
  color: rgb(47 47 47 / 70%);
}

// Font size classes
.element__def__font,
.titleFontSize {
  &_14 {
    font-size: 14px;

    @media (max-width: 580px) {
      font-size: 12px;
    }
  }

  &_15 {
    font-size: 15px;

    @media (max-width: 580px) {
      font-size: 13px;
    }
  }

  &_16 {
    font-size: 16px;

    @media (max-width: 580px) {
      font-size: 14px;
    }
  }

  &_17 {
    font-size: 17px;

    @media (max-width: 580px) {
      font-size: 15px;
    }
  }

  &_18 {
    font-size: 18px;

    @media (max-width: 580px) {
      font-size: 16px;
    }
  }

  &_20 {
    font-size: 20px;

    @media (max-width: 580px) {
      font-size: 18px;
    }
  }

  &_22 {
    font-size: 22px;

    @media (max-width: 580px) {
      font-size: 20px;
    }
  }

  &_23 {
    font-size: 23px;

    @media (max-width: 580px) {
      font-size: 21px;
    }
  }

  &_24 {
    font-size: 24px;

    @media (max-width: 580px) {
      font-size: 22px;
    }
  }

  &_25 {
    font-size: 25px;

    @media (max-width: 580px) {
      font-size: 23px;
    }
  }
}

.list__gap {
  &_5 {
    gap: 5px;
  }

  &_10 {
    gap: 10px;
  }

  &_15 {
    gap: 15px;
  }

  &_20 {
    gap: 20px;
  }
}
