.cardsCatalog__box {
  display: grid;
  width: 100%;
  padding-bottom: 100px;

  /* Максимальная высота строки */
  gap: 22px;
  grid-auto-rows: minmax(412px, min-content);
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  place-items: center;
}

.dropList__box__extra__index {
  z-index: 100000 !important;
}

.cardsCatalog__create__link,
.cardsCatalog__create {
  width: 100%;
  height: 100%;
}

.cardsCatalog__create {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #f5f6f7;
  border-radius: 20px;
  background-color: #f5f6f7;
  box-shadow: -2px 4px 4px #00000015;
  transition: all 0.2s;

  &:hover {
    border-color: rgb(42 46 70 / 47.1%);
  }

  &:hover > .cardsCatalog__create__image {
    font-size: 50px;
  }
}

.cardsCatalog__create__image {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
  background-color: #e6e5e5;
  color: #fff;
  font-size: 40px;
  text-align: center;
  transition: all 0.3s;
}

.cardsCatalog__create__text {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  margin: 3px 0;
  background-color: #e6e5e5;
}

.cardsCatalog__create__button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: auto;
  background-color: #e6e5e5;
}

@media (max-width: 850px) {
  .cardsCatalog__box {
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(196px, 1fr));
  }
}

@media (max-width: 500px) {
  .cardsCatalog__box {
    gap: 10px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)) !important;
  }
}
