.modal__window__default__back {
   position: fixed;
   width: 100vw;
   height: 100dvh;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100000;
   cursor: pointer;
}

.modal__inner {
   position: relative;
   z-index: 200001;
   max-width: 900px;
   width: fit-content;
   max-height: 95vh;
   height: fit-content;
   margin: 0 auto;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 20px;
   padding: 20px;
   cursor: default !important;
   background-color: #fff;
   box-shadow: -2px 4px 4px #00000015;
   overflow-y: auto;
}

.modal__header {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   margin-bottom: 40px;
}