.modal__window__default__back {
  position: fixed;
  z-index: 1310000006;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgb(0 0 0 / 50%);
  cursor: pointer;
}

.modal__inner {
  position: relative;
  z-index: 1000000000;
  top: 50%;
  width: fit-content;
  max-width: 900px;
  height: fit-content;
  max-height: 95vh;
  padding: 25px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: -2px 4px 4px #00000015;
  cursor: default !important;
  overflow-y: auto;
  transform: translateY(-50%);
}

.modal__header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.absolute_close {
  position: absolute;
  top: 43px !important;
  right: 50px !important;
}
