$radio-green: #e1251b;
$border-color: #d1d5db;
$transition-speed: 0.2s;

.radioButtonContainer {
  display: flex;
  align-items: center;
}

.radioButtonWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.hiddenInput {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.radioButtonLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.rect__chekMark {
  border-radius:5px;;
}

.radioButtonCheckmark {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  border-radius: 5px;

  // min-width: 20px;
  // min-height: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  transition: all $transition-speed ease-in-out;

  &.checked {
    border-color: $radio-green;
    background-color: $radio-green;
  }
}

.checkIcon {
  width: 12px;
  height: 12px;
}

.labelText {
  max-width: 350px;
  color: #fff;
  font-size: 15px;
}
