/* POPULAR CATEGORIES SECTION */
.popularcats {
  color: var(--white);

  &.section {
    @media (max-width: 768px) {
      padding-block-start: 1.875rem;
    }
  }
}

.container {
  // max-width: 1200px;
  padding-top: 2.18rem;
  padding-bottom: 2.18rem;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border-width: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.sectionFlexheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 38px;
  }
}

.sectionFlexheaderTitle {
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

.btnAccent {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  border-radius: 5px;
  background: linear-gradient(#0047ba, #1869ef);
  color: var(--white, #fff);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    filter: brightness(1.1);
  }

  @media (max-width: 768px) {
    margin-top: 1.375rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 1200px) {
    gap: 6px;
  }

  @media (max-width: 770px) {
    gap: 10px;
  }
}

.column40 {
  width: 38%;
  height: inherit;

  @media (max-width: 770px) {
    width: 100%;
  }
}

.column60 {
  width: 61%;
  height: inherit;

  @media (max-width: 770px) {
    width: 100%;
  }
}

.col6 {
  width: calc(50% - 5px);

  @media (max-width: 1200px) {
    width: calc(50% - 3px);
  }

  @media (max-width: 770px) {
    width: calc(50% - 5px);
  }
}

.col12 {
  width: 100%;
}

.popularcatsItem {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    backdrop-filter: blur(0);
    background: linear-gradient(180deg, rgb(47 47 47 / 92%) 0%, rgb(47 47 47 / 0%) 100%);
    content: '';
  }

  &.item1 {
    aspect-ratio: 540/400;

    @media (max-width: 770px) {
      aspect-ratio: 320/184;
    }

    .popularcatsPosition {
      padding: 41px 40px;

      @media (max-width: 1200px) {
        max-width: 100%;
        padding: 1.875rem;
      }

      @media (max-width: 1024px) {
        padding: 1.25rem;
      }

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;

        // justify-content: space-between;
        padding: 1.25rem 0.75rem;
      }
    }

    .popularcatsTitle {
      max-width: 75%;
      margin-bottom: 26px;
      font-size: 25.5px;

      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }

    .popularcatsMorelink {
      min-height: 2.875rem;
      padding-top: 3px;
      border-radius: 5px;
      background: linear-gradient(#e1251b, #eb5a53);
      font-size: 18px;
      padding-inline: 38px;

      @media (max-width: 768px) {
        min-height: 2.5625rem;
        font-size: 0.875rem;
        padding-inline: 50px;
      }

      &:hover {
        color: var(--white, #fff);
        filter: brightness(1.1);
        transform: none;
      }

      svg {
        display: none;
      }
    }
  }

  &.item2 {
    aspect-ratio: 353/194;

    @media (max-width: 770px) {
      aspect-ratio: 155/198;
    }

    .popularcatsTitle {
      margin-bottom: 5px;
    }

    .popularcatsPosition {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px 34px;
    }
  }

  &.item3 {
    aspect-ratio: 353/194;

    @media (max-width: 770px) {
      aspect-ratio: 155/198;
    }

    .popularcatsTitle {
      margin-bottom: 7px;
      font-size: 24px;
      letter-spacing: 0;

      @media (max-width: 1024px) {
        font-size: 19px;
      }

      @media (max-width: 768px) {
        font-size: 17px;
      }
    }

    .popularcatsPosition {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 21px 32px;
    }
  }

  &.item4 {
    aspect-ratio: 718/194;

    @media (max-width: 770px) {
      aspect-ratio: 320/184;
    }

    .popularcatsTitle {
      margin-bottom: 6px;
    }

    .popularcatsPosition {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 32px;
    }
  }
}

.popularcatsPosition {
  position: absolute;
  z-index: 1;
  padding: 1.875rem;
  inset: 0;

  @media (max-width: 1200px) {
    padding: 1.25rem;
  }

  @media (max-width: 1024px) {
    padding: 1.25rem 0.75rem;
  }
}

.popularcatsTitle {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.012rem;
  line-height: 122%;

  @media (max-width: 1200px) {
    font-size: 1.375rem;
    line-height: 100%;
  }

  @media (max-width: 1024px) {
    font-size: 1.125rem;
  }

  @media (max-width: 768px) {
    line-height: 113%;
  }
}

.popularcatsMore {
  display: flex;
}

.popularcatsMorelink {
  display: inline-flex;
  align-items: center;
  color: var(--white, #fff);
  font-size: 0.9375rem;
  font-weight: 500;
  gap: 0.4375rem;
  line-height: 122%;
  text-decoration: none;
  transition: all 0.3s ease;

  @media (max-width: 1024px) {
    font-size: 0.875rem;
    gap: 0.3125rem;
  }

  &:hover {
    transform: translateX(7px) scale(1.1);
  }

  svg {
    width: 2.4375rem;
    height: 1.1875rem;
    stroke: var(--white, #fff);
    transition: all 0.3s ease;

    // @media (max-width: 768px) {
    //    width: 1.5rem;
    //    height: 0.6875rem;
    // }
    @media (max-width: 576px) {
      width: 1.5rem;
      height: 0.6875rem;
    }
  }

  .icon {
    display: inline-block;
  }

  .iconRightLong {
    width: 39px;
    height: 19px;
  }

  .popularcatsTransfered {
    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}
