.filters__box {
  position: sticky;
  z-index: 997;
  top: 10px;
  display: flex;
  min-width: 260px;
  max-width: 280px;
  height: 95vh;
  max-height: fit-content;
  max-height: 750px;
  flex-direction: column;
  padding: 18px 0 18px 25px;
  border-radius: 20px;
  background-color: #eff1f8;
  box-shadow: -1px 4px 4px rgb(0 0 0 / 25%);
}

.span_over {
  padding-right: 25px;
  column-gap: 15px;
  overflow-y: scroll;
  scrollbar-color: #2a2e46 #eff1f8;

  /* Для Firefox */
  scrollbar-width: thin;
  transition: all 0.2s;
}

/* Стили для WebKit-браузеров */
.span_over::-webkit-scrollbar {
  width: 1px !important;
}

.span_over::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #eff1f8;

  /* Добавляем отступы по 15px сверху и снизу (в сумме 30px) */
}

.span_over::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #2a2e46;
}

.filters__title {
  color: #2a2e46;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.filters__part {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .filters__part_title {
    margin-bottom: 20px;
    color: #2a2e46;
    font-size: 15px;
    font-weight: 600;
  }
}

.filters__part_checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters__part_droplists {
  // position: relative;
  display: flex;
  min-width: 200px;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 800px) {
    min-width: 180px;
  }
}

.filters__part_title_drop {
  margin-bottom: 20px;
  color: #2a2e46;
  font-size: 15px;
  font-weight: 600;
}

.part__drop {
  margin-bottom: 40px;
}

.end__part,
.end__part_droplists {
  display: flex;
  flex-direction: column;
}

.end__part_droplists {
  gap: 10px;
}

.end__part_title {
  margin-bottom: 20px;
  color: #2a2e46;
  font-size: 15px;
  font-weight: 600;
}

.titles__box {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-right: 25px;

  // align-items: end;
  margin-bottom: 33px;

  @media (max-width: 900px) {
    justify-content: end;
  }
}

.clear__filters__button__bottom {
  order: 1 !important;

  // @media (max-width: 500px) {
  //    display: none;
  // }
}

.clear__filters__button__title {
  display: none;

  @media (max-width: 500px) {
    display: block;
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}

.clear__filters {
  padding-top: 4px;
  margin-top: auto;
  margin-right: auto;
  color: #ac2525;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;

  @media (max-width: 900px) {
    margin-top: 0;
    margin-right: 20px;
    margin-left: auto;
  }
}

.title__box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}

// --------

.checkbox__container {
  display: flex;
  justify-content: start;
  cursor: pointer;
  gap: 10px;
}

.checkbox__hide_input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__visual {
  width: 20px;
  height: 20px;
  border: 1px solid #2a2e46;
  border-radius: 5px;
  background-color: #d9dffb;
  transition: all 0.2s;
}

.checkbox__visual_checked {
  background-color: #4e5479 !important;
}

.input__text {
  font-size: 15px;
  line-height: 19px;
}

.isCloseList {
  width: 0;
  height: 0;
  opacity: 0;
}

.titles__box_without__margin {
  margin-bottom: 0;
  margin-left: auto;
}

.titles__box_with__margin {
  margin-bottom: 33px;
}

@media (max-width: 1010px) {
  .filters__box {
    position: static;
    width: 100%;
    max-width: none;
    height: fit-content;
    max-height: fit-content;

    // margin: 6px !important;
    // flex-direction: row;
  }

  .span_over {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 720px) {
  .span_over {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .part__drop__lists {
    max-width: fit-content;
    order: -3;
  }

  .part__drop__range {
    order: +1;
  }
}

@media (max-width: 420px) {
  .span_over {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .part__drop,
  .filters__part {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 500px) {
  .filters__title {
    margin-right: 0;
  }

  .clear__filters {
    order: -1;
  }

  .titles__box {
    justify-content: space-around;
  }
}
