.header__logo_box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer {
  width: 100vw;
  margin-top: 40px;
  background-color: #17469d;
  box-shadow: 0 -4px 5px #00000015;
}

.bear__img_min {
  display: none;
}

.breadcrumbs {
  position: fixed;
  bottom: -100000vh;
  left: -10000vw;
}

.footer__inner {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
}

.footer__links {
  display: flex;
  width: 100%;
  max-width: 700px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer__link {
  & > li {
    color: #fff;
    font-size: 15px;
  }
}

@media (max-width: 1030px) {
  .footer__links {
    max-width: fit-content;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 30px;
  }
}

@media (max-width: 820px) {
  .bear__img {
    min-width: 224px;
    min-height: 66px;
  }
}

@media (max-width: 750px) {
  .header__logo_box {
    order: 1;
  }

  .footer__inner {
    flex-direction: column;
    padding: 40px 5px 20px;
    gap: 40px;
  }
}

@media (max-width: 400px) {
  .bear__img_min {
    min-width: 70px;
  }
}
