.input__box {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 15px;
  background-color: #f6f6f6;
}

.def__input {
  width: 100%;
  min-height: 48px;
  padding: 10px 20px !important;
  border-radius:5px;
  // border: none;
  border: 1px solid rgb(47 47 47 / 20%);

  // border-left: 0 !important;
  background-color: transparent;
  font-size: 15px;
}

.box__start {
  padding: 14px 15px;
  border: 1px solid rgb(47 47 47 / 20%);
  background-color: #f6f6f6;
  color: #0f1019;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px !important;
}

.error__box {
  color: #ac2525;
}
