.card__def__skeleton {
  width: 1000000px;
  max-width: 123px;
}

.modal__vendor__box__first,
.texts__box {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.vendor__modal__extra {
  & > div {
    min-width: 70vw;

    @media (max-width: 700px) {
      min-width: 90vw;
    }
  }
}

.modal__vendor__content {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;

  @media (max-width: 700px) {
    flex-flow: column wrap;
  }
}

.mini__title__vendor {
  margin-bottom: 9px;
}

.inn__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons__box {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.telephone__button,
.button__vendor__bottom {
  padding: 8px 20px;
  border-radius: 10px;
}

.button__vendor__bottom {
  border: 2px solid #696969;
  color: #696969;
}

.telephone__button {
  border: 2px solid #ac2525;
  color: #fff;

  &__hidden {
    background-color: #ac2525;
    color: #fff;
    font-weight: 500;
  }

  &__show {
    background-color: transparent !important;
    color: #ac2525 !important;
  }
}

.countries__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  & > li {
    max-width: fit-content;
    padding: 5px 9px;
    border-radius: 10px;
    background-color: #f4f5f6;
  }
}

.vendor__modal__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
}

.phone-number {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ac2525;
  border-radius: 8px;
  background-color: transparent;
  color: #ac2525;
  font-size: 16px;
  font-weight: 600;
}

.card__inner__main {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 0;
  gap: 40px;

  @media (max-width: 860px) {
    flex-direction: column;
    gap: 3px;
  }

  @media (max-width: 700px) {
    margin-top: 0;
  }
}

.card__slider__box {
  // position: sticky;
  // top: 10px;
  width: 58%;
  min-width: 400px;
  height: fit-content;
  flex-shrink: 0;

  // @media (max-width: 1200px) {
  //   width: auto;
  // }

  @media (max-width: 1100px) {
    // position: static;
    // width: 100%;
    max-width: 500px;

    // min-width: fit-content;
    margin: 0 auto 30px;
  }

  // TODO
  @media (max-width: 860px) {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 550px) {
    min-width: 100%;
  }
}

.card__slider__box__extra {
  width: 100%;
  max-width: 100%;
}

.card__mini__info {
  display: flex;
  min-width: 270px;
  max-width: 295px;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 24px;

  @media (max-width: 1100px) {
    max-width: none;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.play__video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.card__mini__info__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.mini__counts {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.mini__slider {
  min-width: 0;
  max-width: 290px;

  & > button {
    display: none !important;
  }

  & > .slick-list {
    max-width: fit-content !important;
  }
}

.card__del__count,
.card__comments__count {
  color: #818181;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.images__comments__slider__box {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  justify-content: space-between;

  @media (max-width: 1100px) {
    max-width: none;
    justify-content: start;
    gap: 16px;
  }
}

.images__comments__slider__box__item_img {
  width: 60px !important;
  min-width: 60px;
  border-radius: 10px;
  aspect-ratio: 1/1 !important;
  cursor: pointer;
}

.images__comments__slider__box__item_img__more {
  position: relative;
}

.images__comments__slider__box__item_img__more__count {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 60px;
  height: 100%;
  max-height: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  background-color: #ffffff59;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
}

.shop__profile {
  display: flex;
  padding: 9px;
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 15px;
  background-color: #f4f5f6;
  gap: 8px;
}

.profile__image {
  width: 45px;
  height: 45px;
  aspect-ratio: 1/1;
}

.shop__name__text {
  font-size: 16px;
}

.name__profile__box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.shop__name__subtext {
  color: #818181;
  font-size: 14px;
}

.variants__box {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 11px;
}

.variants__title {
  font-size: 16px;
  font-weight: 400;
}

.variants__content__box {
  display: flex;
  max-width: 290px;
  gap: 16px;
  -ms-overflow-style: none;
  overflow-x: scroll;
  scrollbar-width: none;

  @media (max-width: 1100px) {
    max-width: 100%;
  }
}

.variants__content__box::-webkit-scrollbar {
  display: none;
}

.variants__content__box__item {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
}

.variants__content__box__item__active {
  border: 2px solid #2a2e46;
  border-radius: 13px;
}

.extra__descr__item__class__111 {
  padding-bottom: 15px !important;

  &:last-child {
    border-bottom: none;
  }
}

.descr__more__info {
  max-width: fit-content;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: auto;
  color: #2a2e46;
  font-size: 15px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

// Стили для компонента NewFullTopInfo

.full__info__box {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.productTitle {
  margin-bottom: 6px;
  color: #2f2f2f;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;

  @media (max-width: 960px) {
    font-size: 24px;
  }

  @media (max-width: 580px) {
    font-size: 22px;
  }
}

.reviews {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 6px;
}

.ratingNumber {
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 500;
}

.gray__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(47 47 47 / 50%);
}

.reviews__count {
  color: rgb(47 47 47 / 50%);
  font-size: 16px;
}

.buttons__box__new {
  display: flex;
  margin-bottom: 20px;
  gap: 12px;
}

.byNow {
  width: 100%;
  height: 54px;
  border: none;
  background: linear-gradient(#0047ba, #1869ef);
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  border-radius:5px;

  &:hover {
    background: linear-gradient(#0047ba, #1869ef);
  }

  &:active {
    transform: scale(0.98);
  }
}

.fav__button {
  display: flex;
  width: 54px;
  min-width: 54px;
  height: 54px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#0047ba, #1869ef);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius:5px;

  svg {
    path {
      // stroke: #FFF;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    // border-color: #E1251B;

    // svg path {
    //   stroke: #E1251B;
    // }
  }

  &:active {
    transform: scale(0.95);
  }
}

.active__star {
  & > path {
    stroke: #fff;
  }
}

.prices__box__new {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: end;
  margin-bottom: 20px;
  gap: 5px 13px;
}

.disc__days {
  color: #e1251b;
  font-size: 16px;

  @media (max-width: 580px) {
    font-size: 14px;
  }
}

.original__price {
  // margin-right: 14px;
  // margin-left: 10px;
  color: #2f2f2f96;
  font-size: 18px;
  text-decoration: line-through;

  @media (max-width: 580px) {
    font-size: 16px;
    line-height: 18px;
  }
}

.main__price {
  color: #2f2f2f;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;

  @media (max-width: 580px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.characteristics__list {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 12px;
}

.characteristic__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1.4;
}

.characteristic__label {
  margin-right: 12px;
  color: rgb(47 47 47 / 60%);
  font-weight: 400;
}

.characteristic__value {
  max-width: 60%;
  flex: 1;
  color: #2f2f2f;
  font-weight: 500;
  text-align: right;
}

.card__state {
  // position: sticky;
  // top: 10px;
  display: flex;
  width: 100%;

  // max-width: 400px;
  max-height: fit-content;
  flex-direction: column;
  flex-shrink: 1;
  margin-left: auto;

  @media (max-width: 1100px) {
    position: static;
    max-width: none;
    padding: 0 10px 0 0;
    margin-left: 0;
  }
}

.card__state__mini {
  width: 100%;
  max-height: fit-content;
  padding: 23px 14px;
  border-radius: 20px;
  background-color: #f4f5f6;
  box-shadow: -2px 4px 4px #00000015;
}

.state__mini__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.state__mini__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 11px;
}

.state__mini__list__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.state__mini__list__item__value {
  color: #818181;
  font-size: 14px;
}

.state__mini__list:last-child {
  margin-bottom: 0;
}

.prices__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  white-space: nowrap;
}

.prices__list_item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  white-space: nowrap;
}

.price__list__title {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  gap: 4px;
}

.price__range {
  white-space: nowrap;
}

.price__list__value__start {
  display: flex;
  flex-wrap: wrap;
}

.price__original__price {
  margin-right: 6px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.price__original__with__discount {
  height: fit-content;
  margin-top: auto;
  color: #818181;
  font-size: 16px;
  line-height: 19px;
  text-decoration: line-through;
}

.discount__price {
  margin-right: 6px;
  color: #ac2525;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.price__unit {
  height: fit-content;
  flex-shrink: 0;
  margin-top: auto;
  white-space: nowrap;
}

.price__currency__first {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.price__currency__first__active {
  color: #ac2525;
}

.price__unitMeasure {
  color: #696969;
  font-weight: 500;
}

.card__state__big {
  padding: 40px 10px 30px 20px;
  border-radius: 20px;
  margin-bottom: 24px;
  background-color: #f4f5f6;
  box-shadow: -2px 4px 4px #00000015;
}

.date__count,
.date__text__end {
  color: #818181;
  font-size: 14px;
}

.date__text__end {
  font-weight: 300;
}

.discount__date__box {
  margin-top: 30px;
  margin-bottom: 12px;
}

.min__weight {
  color: #818181;
  font-size: 14px;
}

.extra__shop__button {
  min-width: 100%;
  padding: 10px !important;
  border: 3px solid #ac2525;
  background-color: transparent !important;
}

.by__now__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: #ac2525;
  color: #fff;
  text-align: center;

  &__vendor {
    border: 3px solid #ac2525;
    background-color: transparent !important;
    color: #ac2525;
    cursor: pointer !important;
    font-weight: 500;
  }
}

.card__row__info {
  display: flex;
  width: 100% !important;
  justify-content: space-between;

  // @media (max-width: 1100px) {
  //   display: none;
  // }
}

.card__col__info__secondary {
  display: none;

  @media (max-width: 1100px) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

// .card__col__info__first {
//   @media (max-width: 1100px) {
//     display: none;
//   }
// }
