.dark,
.lightBlue,
.superWhite {
   .textarea__box {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }

   .titles_box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 0 15px;
   }

   .textarea__title {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: #2A2E46;
   }

   .help__title {
      color: #2A2E46;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
   }

   .textarea__inner__box {
      display: flex;
      position: relative;
      padding: 14px 21px;
      background-color: #D9DFFB;
      border-radius: 15px;
   }

   .textarea {
      background-color: transparent;
      border: none;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      line-height: 1.4;
      resize: vertical;
      min-height: 80px;
      height: 100%;

      &:focus {
         outline: none;
      }

      &::placeholder {
         color: #818181;
      }
   }

   .error__textarea {
      &::placeholder {
         font-weight: 500;
         color: #D61414;
      }
   }

   .error__textarea__inner__box {
      border: 2px solid #AC2525 !important;
   }

   .error__text {
      padding: 0 15px;
      font-weight: 600;
      margin-top: 4px;
      color: #2A2E46;
   }

   .secret__box {
      position: absolute;
      top: 14px;
      right: 21px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
   }
}

.light {
   .textarea__box {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }

   .titles_box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 0;
   }

   .textarea__title {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #818181;
   }

   .help__title {
      color: #000;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
   }

   .textarea__inner__box {
      display: flex;
      position: relative;
      padding: 14px 21px;
      background-color: #fff;
      border: 2px solid #2A2E46;
      border-radius: 15px;
   }

   .textarea {
      background-color: transparent;
      border: none;
      width: 100%;
      color: #000;
      font-family: inherit;
      font-size: inherit;
      line-height: 1.4;
      resize: vertical;
      min-height: 80px;

      &:focus {
         outline: none;
      }

      &::placeholder {
         color: #818181;
      }
   }

   .error__textarea {
      &::placeholder {
         font-weight: 500;
         color: #D61414;
      }
   }

   .error__textarea__inner__box {
      border: 2px solid #AC2525 !important;
   }

   .error__text {
      padding: 0 15px;
      font-weight: 600;
      color: #000;
   }

   .secret__box {
      position: absolute;
      top: 14px;
      right: 21px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
   }
}

.superWhite {
   .textarea__inner__box {
      border: 1px solid #2A2E46;
      background-color: #fff;
      box-shadow: 0 2px 4px #00000015;
   }
}

.lightBlue {
   .textarea__inner__box {
      border: 1px solid #2A2E46;
      background-color: #F3F6FA;
      box-shadow: none !important;
   }
}